html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gui-container {
  background: white;
  border: 1px solid #ddd;
  position: absolute;
  top: 1em;
  left: 1em;
  padding: 0.5em;
  min-width: 120px;
}

.score {
  font-weight: bold;
}
